body {
    font-family: 'Montserrat', sans-serif;
}

.success,
.fail {
    color: white;
    padding: 5px;
    margin: 5px 0 15px 0;
    border-radius: 4px;
}

.success {
    background: green;
}

.fail {
    background: red;
}

a {
    text-decoration: none;
    background-color: #ff4f4f;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 3px;
}